build/
*.iso
*.qcow2
*.img
*.bin
*.squashfs
*.tar
*.tar.bz2
*.deb
*.log
*.swp
*~
.opencode/

# imagecraft build artifacts
.craft/
parts/
prime/
stage/
partitions/
overlay/overlay/
overlay/packages/
overlay/prime_overlay
overlay/stage_overlay
overlay/work/
